.chat-box {
    position:fixed;
    width: 80%;
    height: 70%;
    background-color: black;
    border-color: rgb(225, 13, 13);
    border-style: solid;
    border-width: 5px;
    overflow-y: scroll;
    overflow-x: clip;
}

.chat-box ul {
    list-style-type: none;
}

.chat-box li {
    font-family:
        "Times New Roman", "Times New Roman MS",
        "Comic Sans", "Comic Sans MS", cursive;
    font-size: 20px;
    color: lightgrey;
}

.chat-input {
    position:absolute;
    left: 0px;
    right: 50px;
    bottom: 0px;
    height: 25px;
    overflow-y: auto;
    overflow-x: clip;
}

.chat-submit {
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 25px;
    width: 50px;
}