{% extends "layout/test.html" %}

{% block includes %}
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@3.1.1/dist/socket.io.min.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/web_socket.js') }}" type="module"></script>
{% endblock includes %}

{% block sidebar %}
    <div class="sidebar">
        <ul>
            {% for username, user_id in online_users %}
            <li><a href="{{ '/user/' + user_id + '/' }}">{{ username }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock sidebar %}

{% block content %}
<div id="chat-box" class="chat-box">
    {% for message in messages %}
    [{{ message.datetime | strftime("%H:%M:%S") }}] 
    {{ message.user.username }}: 
    {{ message.text }}<br/>
    {% endfor %}
</div>
<div>
<input id="chat-message" type="text">
</div>

{% endblock content %}