{% extends "layout/test.html" %}

{% block sidebar %}
    <div class="sidebar">
        <ul>
            {% for username, user_id in online_users %}
            <li><a href="{{ '/user/' + user_id + '/' }}">{{ username }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock sidebar %}

{% block content %}
<div class="chat-box">
    {% for message in messages %}
    {{ message.user.username }}: 
    {# {% if message.images %}
    <br/>
        {% for image in message.images %}
        <img src="{{ image }}" class="chat-image"><br/>
        {% endfor %}
    {% endif %} #}
    {{ message.text }}<br/>
    {% endfor %}
</div>
<div>
<form id="signup" method="POST" action="/chat/post">
    {{ form.csrf_token }}
    {{ form.message }}<input id="submit" type="submit" value="send">
</form>
</div>
{% endblock content %}