{% extends "layout/test.html" %}

{% block includes %}
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@3.1.1/dist/socket.io.min.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/web_socket.js') }}" type="module"></script>
{% endblock includes %}

{% block navbar %}
No navbar here!
{% endblock navbar %}

{% block content %}
Hello

<input id="chat-message" type="text">
<div onclick="sendMessage()">SEND</div>
<div id="chat-box">
This is the first message!
</div>
{% endblock content %}