<!DOCTYPE html>
<html lang="en">

{% set active_page = 'chat' %}
{% extends "layout/default.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat-box.css') }}">
<h1>Hello {% if current_user %}{{ current_user.name }}{% else %}Anon{% endif %}!</h1>
<div class="chat-box">
    <ul>
        {% for msg in messages %}
        <li><span style="font-size:12px;">[{{ msg.date }}]</span> <span style="color:#{{ msg.user.color }}; font-weight:bold;">{{ msg.user.username }}</span> {{ msg.content }}</li>
        {% endfor %}
    </ul>

</div>
<div class="chat-input">
    <input id="message" label="message" value="enter message">
</div>
<div class="chat-submit">
    <button class="chat-submit">SEND</button>
</div>

{% endblock content %}

{% block sidebar %}
<div class="user-list">
    <ul>
        {% for user in users %}
        <li style="color:#{{ user.color }}">{{ user.username }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock sidebar %}

{% block footer %}
{% endblock %}

</html>